{% extends 'base.html.twig' %}



{% block body %}
<table>
  {% for result in results %}
  <tr>
    <td>{{result.name}}</td>
    <td>{{result.score}}</td>
    <td>{{result.date.format('Y-m-d')}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
